Language: Cpp
BasedOnStyle: LLVM
UseTab: Always
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Custom
Cpp11BracedListStyle: false
BraceWrapping: 
  BeforeLambdaBody: false
  AfterNamespace: false
  AfterClass: true
  AfterFunction: true
  AfterStruct: true
  AfterCaseLabel: true
  BeforeElse: false
  IndentBraces: false
AccessModifierOffset: -4
NamespaceIndentation: All
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
ColumnLimit: 0
AlignConsecutiveDeclarations: true